{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ title }}</h2>
    <div class="col-sm-6">
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.firstName) }}
            </div>
            <div class="form-group">
                {{ form_label(form.middleName) }}
                {{ form_widget(form.middleName, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.middleName) }}
            </div>
            <div class="form-group">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName, {'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.lastName) }}
            </div>
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'} }) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
