{% extends 'base.html.twig' %}

{% block body %}
    <h3>Authors</h3>
    <p><a class="btn btn-primary" href="{{ path('add-author') }}" role="button">Add author</a></p>
    <div class="col-lg-4">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <ul class="list-group">
            {% for author in authors %}
                <li class="list-group-item">
                    {{ author.authorName }}
                    <a class="btn btn-primary" href="{{ path('edit-author', {'id': author.id}) }}" role="button">Edit</a>
                    <a class="btn btn-danger" href="{{ path('delete-author', {'id': author.id}) }}" role="button">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}