{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-default" href="{{ path('list-book') }}" role="button">List book</a>
            <a class="btn btn-default" href="{{ path('add-book') }}" role="button">Add book</a>
            <a class="btn btn-default" href="{{ path('list-authors') }}" role="button">List authors</a>
            <a class="btn btn-default" href="{{ path('add-author') }}" role="button">Add author</a>
        </div>
    </div>
{% endblock %}
