{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ title }}</h2>
    <div class="col-sm-6">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="form-group">
            {{ form_label(form.isbn) }}
            {{ form_widget(form.isbn, {'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.isbn) }}
        </div>
        <div class="form-group">
            {{ form_label(form.publishDate) }}
            {{ form_widget(form.publishDate, {'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.publishDate) }}
        </div>
        <div class="form-group">
            {{ form_label(form.pageNum) }}
            {{ form_widget(form.pageNum, {'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.pageNum) }}
        </div>
        <div class="form-group">
            {{ form_label(form.authors) }}
            {{ form_widget(form.authors, {'attr': {'class': 'form-control'} }) }}
            {{ form_errors(form.authors) }}
        </div>
        <div class="form-group">
            {{ form_label(form.image) }}
            {{ form_widget(form.image) }}
            {{ form_errors(form.image) }}
        </div>
        {{ form_end(form) }}
    </div>
{%  endblock %}