{% extends 'base.html.twig' %}

{% block body %}
    <h3>Delete book</h3>
    <div class="col-sm-8">
        {{ form_start(form) }}
        <p>Delete book <b>{{ name }}</b> from storage?</p>
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>
{% endblock %}