{% extends 'base.html.twig' %}

{% block body %}
    <h3>List of books</h3>
    <p><a class="btn btn-primary" href="{{ path('add-book') }}" role="button">Add book</a></p>
    <div class="col-sm-8">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
        <ul class="list-group">
            {% for book in books %}
                <li class="list-group-item">
                    {{ book.name }}
                    <a class="btn btn-primary" href="{{ path('edit-book', {'id': book.id}) }}" role="button">Edit</a>
                    <a class="btn btn-danger" href="{{ path('delete-book', {'id': book.id}) }}" role="button">Delete</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}